@import url('../fonts/Montserrat-Bold.ttf');
@import url('../fonts/Lato-Light.ttf');



body {
  margin: 0;
  padding: 0;
}


/* Navbar, Search Icon, Menu, Sign In and Sign Up buttons Sections*/
/*Navbar Section */
.navbar  {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: #fafafa !important;
}


/* Sign In & Sign Up Section */
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  transform: translateX(-23%);
}


/* Sign In Section */
.nav-item .nav-link {
  color: #74C69D;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 800;
}

/* Sign Up Section */
.nav-item .sign {
  color: white !important;
  background: #74C69D;
  border-radius: 29px 29px 29px 29px;
  
  font-size: 18px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}



/* Search */
.searchBox {
  background: transparent;
  border: 2px solid #2f3640;
  border-radius: 40px;

}

.searchInput {
  background: transparent;
  border: none transparent;
}

.searchBox:hover>.searchInput,
.searchInput:focus {
  width: 240px;
  padding: 0 20px;
}

.searchBox:hover>.searchButton {
  background: white;
  color: #2f3640;
}

.searchButton:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.searchButton {
  color: white;
  background-color: #2f3640;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    width: 150px;
    padding: 0 6px;
  }
}


/* Menu Expand Button Section */
.nav-item nav {
  position: relative;
  width: 170px;
  height: 80px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
  overflow: hidden;
  transform: translateX(30%);
}

.nav-item nav:before {
  content: "Menu";
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  line-height: 80px;
  background: transparent;
  color: #74C69D;
  font-size: 20px;
  font-weight: 600;
  z-index: 11;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.nav-item nav ul {
  display: flex;
  line-height: 80px;
  list-style: none;
  align-content: center;
  justify-content: center;
}

.nav-item ul li a {
  color: #74C69D;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 -50px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.nav-item ul li a i {
  color: #ff0055 !important;
}

.nav-item li a.active,
.nav-item li a:hover {
  background: transparent;
}

.nav-item nav._expand {
  width: 840px;
}

.nav-item nav._expand:before {
  opacity: 0;
  pointer-events: none;
}

.nav-item nav._expand ul li a {
  margin: 0 10px;
  padding: 10px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s;
}





/* Social Media Icons Section */
.social-icons {   
  left: 11%;
  top: 94%;
  transform: translate(-57%, 0);
  color: #74C69D;
  display: flex;
  font-size: 25px;
  z-index: 10 !important;
  position: fixed;
}

/*--Styling for fadding bootstrap Carousel--*/
#myCarousel {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden !important;
}

/*--this is for button in the porfolio section--*/
.common-btn {
  color: #74C69D;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  margin: -8% 0 7% 85%;
  padding: 1% 1%;
  background: transparent;
  outline: none;
  border: 2px solid #74C69D;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none !important;
}

.common-btn:hover {
  color: #74c69d !important;
  background-color: transparent;
  border: 2px solid #74C69D;
}


/*----basic p text--- */
p {
  color: #222;
  font-size: 24px;
  font-weight: 300;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  margin: 0 38% 4% 1%;
}


/*--text-center is for h1 text--*/
.text-center {
  padding: 5% 0 !important;
  color: #74C69D !important;
  font-size: 50px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}


/*--Container-2 centering content--*/
.container-2 {
  padding: 5%;
}


/*--Masonry Section--*/
.masonry {
  column-width: 300px;
  column-gap: 5px;
  padding: 5px;
}

.masonry img {
  width: 100%;
  padding: 2%;
  transition: 1s ease;
  border-radius: 30px;
}

/* .masonry img:hover { 
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }*/




/* this is center content in clients testimonial section---*/
.testimon {
  text-align: center;
}


/*---images Section for Clients Testimonial/ Satisfied Clients----*/

figure {
  display: inline-block !important;
}


figure.snip1204 {
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}


figure.snip1204 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


figure.snip1204 img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 65%;
}


figure.snip1204 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


figure.snip1204 blockquote:before,
figure.snip1204 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}


figure.snip1204 blockquote:before {
  top: 35px;
  left: 20px;
}


figure.snip1204 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}

figure.snip1204 .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #ffffff;
  padding: 0 35px;
  position: relative;
}

figure.snip1204 .author h5 {
  left: 37%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 3px;
}

figure.snip1204 .author h5 {
  text-transform: uppercase;
  bottom: 50%;
  margin: 0;
  font-weight: 300;
  color: #000000;
}


/*----owl carousel for trusted clients----*/
.owl-carousel {
  display: flex;
}

.owl-carousel img {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}



/*--------footer-----*/
footer {
  padding: 2% 5% 0;
  width: 100%;
  background: #fafafa;
  height: 10%;
}

footer h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

li a {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #999;
  text-decoration: none;
}

li a:hover {
  
  text-decoration: none;
}