@import url('../fonts/Montserrat-Bold.ttf');
@import url('../fonts/Lato-Light.ttf');



body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Navbar, Search Icon, Menu, Sign In and Sign Up buttons Sections*/
/*Navbar Section */
.top-stuff {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100px;
}


.top-stuff .logo {
  font-size: 32px;
  position: relative;
  left: 50%;
  top: 30px;
  cursor: pointer;
  z-index: 5;
}


.top-stuff .sign-in-up {
  position: relative;
  left: 92%;
  top: 30px;
  cursor: pointer;
  z-index: 5;
  text-align: right;
}

.top-stuff .sign-in-up a {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #222;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  left: 32px;
  top: 30px;
  cursor: pointer;
  z-index: 5;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #000000;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 3;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}

.nav:after {
  background: white;
  transition-delay: 0s;
}

.nav:before {
  transition-delay: 0.1s;
}

.nav__content {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}

.nav__list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin: 0 25px;
}

.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}

.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #000;
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  transition-delay: 0.1s;
}

body.nav-active .nav:before {
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(5) {
  transition-delay: 1s;
}


/* Social Media Icons Section */
.social-icons {   
  left: 2%;
  top: 50%;
  font-size: 20px;
  z-index: 10 !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.social-icons a {
  margin: 20px 0 !important;
  color: #2e2e2e;
  ;
}

.social-icons .line {
  background: #adadad;
  width: 1px;
  height: 300px;
}
/*--Styling for fadding bootstrap Carousel--*/
#myCarousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
  background: #ffffff;
}

.carousel-inner .carousel-item {
  width: 100%;
  height: 100vh;
}

.carousel-inner .carousel-item.active {
  transition: ease-in-out 0.2s;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0;
}

.carousel>.carousel-inner>.carousel-item>img,
.carousel>.carousel-inner>.carousel-item>a>img {
  margin: auto;
  width: 100% !important;
  transition: ease-in-out 0.5s;
}

.carousel-caption {
  left: 0;
  top: 15%;
  right: 0;
  width: 55%;
  padding: 5% 12%;
  color: #000 !important;
  position: absolute;
  text-align: left !important;

}

.carousel-item .carousel-caption h1 {
  padding: 0;
  font-size: 64px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
}





.carousel-item .carousel-caption p {
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 50%;
  animation-duration: 1s;
  animation-delay: 0.8s;
  color: rgb(90, 90, 90);
}

.carousel-caption .btn-lg {
  color: #fff;
  background: rgb(17, 0, 255);
  font-size: 16px;
  font-weight: 700;
  padding: 8px 32px;
  border: 4px solid rgba(17, 0, 255);
  border-radius: 50px;
  margin: 20px 0;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  animation-duration: 1.2s;
  animation-delay: 1.2s;
}

.carousel-caption .btn-lg:focus {
  outline: transparent;
  box-shadow: none;
}


.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  color: black;
  font-size: 20px;
  width: 5%;
  background: #fff;
  height: 10%;
  top: 90%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  color: #000;
}

.carousel-control-prev {
  left: 90%;
}

.carousel-control-next {
  left: 95%;
}

/*----basic p text--- */
.services {
  background-color: rgb(235, 235, 235);
  padding: 15% 10%;
}

.text-stuff {
  padding: 0 10%;
}

.tite h1{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 64px;
  margin: 0 0 5% 0;
  color: #000000;
}

.left {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #2e2e2e;

}

.left .line {
  align-self: baseline;
  width: 50px;
  height: 2px;
  background: #2e2e2e;
  margin: 10px 0;
}

.ser-text {
  color: #2e2e2e;
  font-family: 'Roboto',
  Arial,
  Helvetica,
  sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  align-items: center;
}

.latest {
  padding: 0 !important;
  width: auto;
  height: auto;
  overflow: hidden;
  
}

.latest-images {
  padding: 0 10% 10% 10%;
  margin-top: -10%;
  overflow: hidden;
}

.latest-images a {
  overflow: hidden;
}

.latest a img {
  width: 100%;
  height: auto;
  margin: auto;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.latest a img:hover {
  transform: scale(1.1);
}
/* this is center content in clients testimonial section---*/
.testimon {
  text-align: center;
}


/*---images Section for Clients Testimonial/ Satisfied Clients----*/

figure {
  display: inline-block !important;
}


figure.snip1204 {
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}


figure.snip1204 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


figure.snip1204 img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 65%;
}


figure.snip1204 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


figure.snip1204 blockquote:before,
figure.snip1204 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}


figure.snip1204 blockquote:before {
  top: 35px;
  left: 20px;
}


figure.snip1204 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}

figure.snip1204 .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #ffffff;
  padding: 0 35px;
  position: relative;
}

figure.snip1204 .author h5 {
  left: 37%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 3px;
}

figure.snip1204 .author h5 {
  text-transform: uppercase;
  bottom: 50%;
  margin: 0;
  font-weight: 300;
  color: #000000;
}


/*----owl carousel for trusted clients----*/
.owl-carousel {
  display: flex;
}

.owl-carousel img {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}



/*--------footer-----*/
footer {
  padding: 5%;
  width: 100%;
  background: #fafafa;
  height: 10%;
}

footer h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

li a {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #999;
  text-decoration: none;
}

li a:hover {
  
  text-decoration: none;
}