body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Navbar, Search Icon, Menu, Sign In and Sign Up buttons Sections*/
/*Navbar Section */
.top-stuff {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100px;
}


.top-stuff .logo {
  font-size: 32px;
  position: relative;
  left: 50%;
  top: 30px;
  cursor: pointer;
  z-index: 5;
}

.top-stuff .logo a {
  color: #000;
}

.top-stuff .sign-in-up {
  position: relative;
  left: 92%;
  top: 30px;
  cursor: pointer;
  z-index: 5;
  text-align: right;
}

.top-stuff .sign-in-up a {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #222;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  left: 32px;
  top: 30px;
  cursor: pointer;
  z-index: 5;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #000000;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 3;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}

.nav:after {
  background: white;
  transition-delay: 0s;
}

.nav:before {
  transition-delay: 0.1s;
}

.nav__content {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}

.nav__list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin: 0 25px;
  text-decoration: none;
  color: #000;
}

.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;

}

.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #000;

  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  transition-delay: 0.1s;
}

body.nav-active .nav:before {
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
  text-decoration: none;
  color: #000;
}

body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
  text-decoration: none;
  color: #000;
}

body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
  text-decoration: none;
  color: #000;
}

body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
  text-decoration: none;
  color: #000;
}

body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
  text-decoration: none;
  color: #000;
}

body.nav-active .nav__list-item:nth-child(5) {
  transition-delay: 1s;
  text-decoration: none;
  color: #000;
}

body.nav-active .nav__list-item:nth-child(6) {
  transition-delay: 1s;
  text-decoration: none;
  color: #000;
}


/******************
* Main background image, Card & logotext
*/
.row-center {
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

  .login-card {
    padding: 10%;
    margin: 27% 0 8% 0;
    position: relative;
    width: 100% !important;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 5px 50px rgb(180, 180, 180, 0.2);
  }

  .login-card h1 {
    color: rgb(83, 83, 83);
    text-align: center;
    text-transform: capitalize !important;
    font-size: 32px;
  }
  




/********************
* Form, Log input, otherPasslink & button
*/
  form {
    width: 100%;
    align-items: center;
    margin: 5% 0;
}


.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div {
    position: relative;
    height: 45px;
    
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div > div > h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}


.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555 !important;
    font-family: 'Font Awesome Pro 5', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

.otherPasslink {
    
	display: flex;
	text-align: right;
}

.otherPasslink a{
	color: rgb(43, 43, 43);
    font-size: 15px;
    font-weight: 500;
    
	text-decoration: none;
}

.otherPasslink  .forgetPass {
    
	color: rgb(43, 43, 43);
    font-size: 13px;
    font-weight: 300;
}


.btn {
  color: #fff;
  background: rgb(17, 0, 255);
  font-size: 16px;
  font-weight: 700;
  padding: 8px 32px;
  width: 100%;
  border: 4px solid rgba(17, 0, 255);
  border-radius: 50px;
  margin: 40px 0 20px 0;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}